:root {
  --paper: #f5ecd2;
  --paper-dark: #eadbb7;
  --ink: #232323;
  --border: rgba(0, 0, 0, 0.15);
}

.typewriter-notebook-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* =======================
   ABAS
======================= */
.tabs-container {
  max-width: 1100px;
}

.tabs {
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  align-items: center;

  max-width: 1100px;

  overflow-x: auto;
}

.tabs::-webkit-scrollbar {
  height: 1px;
}

.tabs::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.tab {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: 8px;

  max-width: 240px;

  padding: 10px 14px;

  background: #d9c9a4;

  color: var(--ink);

  border-radius: 8px 8px 0 0;
  border: 1px solid var(--border);

  line-height: 24px;

  cursor: pointer;
}

.tab.active {
  background: var(--paper);
  font-weight: bold;
}

.tab span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new-tab-btn {
  flex-shrink: 0;

  font-size: 24px;

  cursor: pointer;
}

.delete-tab-button {
  border: none;

  font-size: 16px;

  cursor: pointer;
}
.delete-tab-button:hover {
  color: red;
}

/* =======================
   PAPEL
======================= */

.paper {
  flex: 1;

  max-width: 1100px;
  width: calc(100% - 40px);

  /* margin: 20px auto; */

  display: flex;
  flex-direction: column;

  background: var(--paper);

  color: var(--ink);

  border-radius: 8px;

  padding: 24px;

  box-sizing: border-box;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);

  position: relative;
}

.paper::before {
  content: "";

  position: absolute;
  inset: 0;

  background-image: radial-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px);

  background-size: 4px 4px;

  pointer-events: none;
}

/* =======================
   TITULO
======================= */

.title-input {
  background: transparent;
  border: none;

  color: var(--ink);

  font-family: Georgia, serif;

  font-size: 2rem;
  font-weight: 700;

  border-bottom: 2px solid rgba(0, 0, 0, 0.15);

  padding-bottom: 10px;

  margin-bottom: 20px;
}

.title-input:focus {
  outline: none;
}

/* =======================
   EDITOR
======================= */

.editor {
  flex: 1;

  border: none;
  resize: none;

  background: transparent;

  color: var(--ink);

  font-family: "Courier New", monospace;

  font-size: 18px;
  line-height: 1.8;

  padding: 0;
}

.editor:focus {
  outline: none;
}
/* =======================
   MOBILE
======================= */

@media (max-width: 768px) {
  .tabs-container {
    width: calc(100% - 16px);
  }

  .paper {
    width: calc(100% - 16px);
  }

  .title-input {
    font-size: 1.5rem;
  }

  .editor {
    font-size: 16px;
    line-height: 1.7;
  }

  .newspaper-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
}
